# package management
alias install='sudo apt install'
alias remove='sudo apt remove'
alias update='sudo apt update'
alias upgrade='sudo apt upgrade'
alias dist-upgrade='sudo apt dist-upgrade'
alias apt-search='sudo aptitude search'

# frequently used folders
alias ~='cd ~'
alias desk='cd ~/Desktop'
alias down='cd ~/Downloads'

# linux remappings
alias su="su -l"
alias ll="ls -lah"
alias grep='grep --color=auto'
alias sudo='sudo '  # makes aliases work on root

# arch remappings
alias pacman="sudo pacman"


# linux usefull aliases
alias sb="source ~/.bashrc"
alias sz="source ~/.zshrc"
alias set-zsh="chsh -s $(which zsh)"
alias set-bash="chsh -s $(which bash)"
alias public_ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias local_ip="hostname -i | cut -f1 -d' '"
alias delnewline="rename 's/\n/ /g' *" # delete new line char from filenames
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias nh='nautilus'
alias clearswap='sudo swapoff -a && sudo swapon -a'
alias fix-graphics="dbus-send --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval 'string:global.reexec_self()'"
alias clip="xclip -selection clipboard"
alias jn="jupyter-notebook"

# compiler
alias switch-c-compiler='sudo update-alternatives --config cc'
alias switch-cpp-compiler='sudo update-alternatives --config c++'

# git
alias gits="git status"
alias git-pull-all="ls | parallel git -C {} pull"

# catkin workspace and ros
alias ws="cd ~/catkin_ws"
alias repos="cd ~/catkin_ws/src"
alias ncrepos="cd ~/installers"
alias rosdep-install='rosdep install --from-paths src --ignore-src --rosdistro $ROS_DISTRO  -yr'
alias reconf="rosrun rqt_reconfigure rqt_reconfigure"
alias cbuild="catkin build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON"

# tar/untar aliases
alias tar='tar czf'
alias untar='tar xzf'

# copy public key to remote machine eg. keyto example@example-ip
alias keyto='ssh-copy-id'

# Converting aliases
ogv2mp4() { ffmpeg -i $1 -c:v libx264 -preset veryslow -crf 22 -c:a libmp3lame -qscale:a 2 -ac 2 -ar 44100 ${1%.*}.mp4 }

avi2mp4() { ffmpeg -i $1 -2 -profile:v baseline -movflags +faststart -pix_fmt yuv420p $1.mp4 }

# docker
#alias docker-clean="docker images --quiet --filter=dangling=true | xargs --no-run-if-empty docker rmi"
#alias docker-container-rm-all="docker rm $(docker ps -a -q)"
#docker-export() { docker save --output $1.tar $1}

# cmake
alias cmake_cv="cmake .. -D CMAKE_BUILD_TYPE=RELEASE \
    -D CMAKE_INSTALL_PREFIX=/usr/local \
    -D WITH_CUDA=ON \
    -D ENABLE_FAST_MATH=1 \
    -D CUDA_FAST_MATH=1 \
    -D WITH_CUBLAS=1 \
    -D INSTALL_PYTHON_EXAMPLES=OFF \
    -D OPENCV_EXTRA_MODULES_PATH=../../opencv_contrib/modules \
    -D BUILD_EXAMPLES=ON .. \
    -DBUILD_opencv_cudacodec=OFF \
    -DWITH_NVCUVID=OFF \
    -DOPENCV_ENABLE_NONFREE=ON"
