[core]
	editor = vim
	excludesfile = /home/gkouros/.gitignore_global
[user]
	email = george.kouros.ece@gmail.com
	; email = george@kapernikov.com
	name = George Kouros
[color]
  ui=auto
[log]
  decorate=full
[push]
  default=tracking
[alias]
  tree = log --oneline --graph
